<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <filter>
    <filter-name>filter</filter-name>
    <filter-class>com.web.filter.CharFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <resource-ref>
    <res-ref-name>jdbc/myMariaDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>com.web.control.SampleController</servlet-class>
    <init-param>
      <param-name>sampleConfig</param-name>
      <param-value>SampleCommand.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>*.sa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sampleJson</servlet-name>
    <servlet-class>com.web.control.SampleJsonController</servlet-class>
    <init-param>
      <param-name>sampleJsonConfig</param-name>
      <param-value>SampleJsonCommand.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sampleJson</servlet-name>
    <url-pattern>*.sj</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sampleVoid</servlet-name>
    <servlet-class>com.web.control.SampleVoidController</servlet-class>
    <init-param>
      <param-name>sampleVoidConfig</param-name>
      <param-value>SampleVoidCommand.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sampleVoid</servlet-name>
    <url-pattern>*.sv</url-pattern>
  </servlet-mapping>
  
</web-app>